.hero-carousel {
  padding: 0;
}

.hero-carousel .swiper-pagination {
  bottom: 10px !important;
}

.hero-carousel .swiper-pagination-bullet {
  background: var(--premium-hero-pagination-color, white);
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

.hero-carousel .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--premium-hero-pagination-active-color, white);
}

.hero-carousel .swiper-button-next,
.hero-carousel .swiper-button-prev {
  color: var(--premium-hero-navigation-color, white);
  background: var(--premium-hero-navigation-background, rgba(0, 0, 0, 0.3));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.hero-carousel .swiper-button-next:hover,
.hero-carousel .swiper-button-prev:hover {
  background: var(--premium-hero-navigation-hover-background, rgba(0, 0, 0, 0.5));
}

/* --------------- */

.hero-carousel .swiper-button-next:active,
.hero-carousel .swiper-button-prev:active {
  scale: 0.9;
}

.hero-carousel .swiper-button-next::after,
.hero-carousel .swiper-button-prev::after {
  content: none;
}

.hero-carousel .swiper-button-next svg,
.hero-carousel .swiper-button-prev svg,
.hero-carousel .swiper-navigation-icon {
  display: block;
  flex-shrink: 0;
  height: 15px;
  stroke: currentColor;
  stroke-width: 2.25;
  transition: transform 0.3s ease;
  width: 15px;
}

/* @media (max-width: 768px) {
  .hero-carousel .swiper-button-next,
  .hero-carousel .swiper-button-prev {
    display: none;
  }
} */
