---
// Estilos para Swiper JS
import 'swiper/css';
import 'swiper/css/effect-fade';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/parallax';

// Estilos globales
// Estilos globales
import '../styles/global.css';
import '@/components/sections/microsites/templates/styles-microwebsites.css';
import WhatsApp from '@/components/sections/microsites/plans/components/WhatsApp.astro';
import BaseHead from './BaseHead.astro';

const { pathname } = Astro.url;
const {
  title = 'CVA - Mayorista de Tecnología',
  description = 'Grupo CVA es uno de los mayoristas de tecnología mas importante de México, comercializamos y damos asesoría en marcas para desarrollar proyectos de tecnología desde equipos de computo hasta infraestructura y más. Apoyamos el desarrollo de su negocio con atención personalizada, apoyo financiero y red logistica.',
  favicon = '/favicon.png',
  whatsappUrl,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title={title}
      description={description}
      favicon={favicon}
      twitterTitle="Grupo CVA"
      twitterDescription="Mayorista de tecnologia en Mexico. Comercializamos y distribuimos las mejores marcas de tecnologia en el pais"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

    <main class="relative min-h-[80dvh]">
      <slot />
      {whatsappUrl && <WhatsApp url={whatsappUrl} />}
    </main>
  </body>
</html>

<script>
  import { initLenis } from '@/lib/lenis';

  initLenis();
</script>
